body {
  --color-white: #FFF;
  --color-black: #000;

  --color-grey-900: hsl( 220, 10%,  96%);
  --color-grey-800: hsl( 220, 10%,  90%);
  --color-grey-700: hsl( 220, 10%,  70%);
  --color-grey-600: hsl( 220, 10%,  60%);
  --color-grey-500: hsl( 220, 10%,  50%);
  --color-grey-400: hsl( 220, 10%,  40%);
  --color-grey-300: hsl( 220, 10%,  30%);
  --color-grey-200: hsl( 220, 10%,  20%);
  --color-grey-100: hsl( 220, 10%,   4%);

  --color-red-900: hsl( 5,  94%,  86%);
  --color-red-700: hsl( 5, 100%,  65%);
  --color-red-500: hsl( 5,  70%,  55%);
  --color-red-300: hsl( 5,  38%,  25%);
  --color-red-100: hsl( 5, 100%,   8%);
  
  --color-orange-900: hsl( 30,  94%, 86%);
  --color-orange-700: hsl( 30, 100%, 65%);
  --color-orange-500: hsl( 30,  70%, 55%);
  --color-orange-300: hsl( 30,  38%, 25%);
  --color-orange-100: hsl( 30, 100%,  8%);

  --color-yellow-900: hsl( 60,  94%,  86%);
  --color-yellow-700: hsl( 60, 100%,  65%);
  --color-yellow-500: hsl( 60,  70%,  55%);
  --color-yellow-300: hsl( 60,  38%,  25%);
  --color-yellow-100: hsl( 60, 100%,   8%);

  --color-lime-900: hsl( 90,  94%,  86%);
  --color-lime-700: hsl( 90, 100%,  65%);
  --color-lime-500: hsl( 90,  70%,  55%);
  --color-lime-300: hsl( 90,  38%,  25%);
  --color-lime-100: hsl( 90, 100%,   8%);

  --color-green-900: hsl( 130,  94%,  86%);
  --color-green-700: hsl( 130, 100%,  65%);
  --color-green-500: hsl( 130,  70%,  55%);
  --color-green-300: hsl( 130,  38%,  25%);
  --color-green-100: hsl( 130, 100%,   8%);
 
  --color-cyan-900: hsl( 180,  94%,  86%);
  --color-cyan-700: hsl( 180, 100%,  65%);
  --color-cyan-500: hsl( 180,  70%,  55%);
  --color-cyan-300: hsl( 180,  38%,  25%);
  --color-cyan-100: hsl( 180, 100%,   8%);

  --color-blue-900: hsl( 220,  94%,  86%);
  --color-blue-700: hsl( 220, 100%,  65%);
  --color-blue-500: hsl( 220,  70%,  55%);
  --color-blue-300: hsl( 220,  38%,  25%);
  --color-blue-100: hsl( 220, 100%,   8%);

  --color-purple-900: hsl( 265,  94%,  86%);
  --color-purple-700: hsl( 265, 100%,  65%);
  --color-purple-500: hsl( 265,  70%,  55%);
  --color-purple-300: hsl( 265,  38%,  25%);
  --color-purple-100: hsl( 265, 100%,   8%);

  --color-pink-900: hsl( 315,  94%,  86%);
  --color-pink-700: hsl( 315, 100%,  65%);
  --color-pink-500: hsl( 315,  70%,  55%);
  --color-pink-300: hsl( 315,  38%,  25%);
  --color-pink-100: hsl( 315, 100%,   8%);

}