/* Theme */
@import url('./palette-trey.css');
body {

  /* Colors */
  --color-font-0: hsl(220,10%,75%);
  --color-font-1: hsl(220,10%,90%);
  --color-font-2: hsl(225,80%,80%);
  --color-bg-0: hsl(220, 10%, 12%);
  --color-bg-1: hsl(220, 10%, 7%);
  --color-bg-2: hsl(220, 10%, 80%);

  --color-border: var(--color-font-2);
  --color-shadow: #00000033;
    
  --color-primary: hsl( 265, 100%, 75%);
  --color-bg-primary: hsl( 265, 100%, 75%);
  --color-font-primary: hsl( 265, 100%, 15%);
  --color-bg-secondary: var(--color-bg-0);
  --color-font-secondary: var(--color-font-0);
  --color-bg-red: var(--color-red-500);
  --color-font-red: var(--color-red-100);
  --color-bg-orange: var(--color-orange-500);
  --color-font-orange: var(--color-orange-100);
  --color-bg-yellow: var(--color-yellow-500);
  --color-font-yellow: var(--color-yellow-100);
  --color-bg-lime: var(--color-lime-500);
  --color-font-lime: var(--color-lime-100);
  --color-bg-green: var(--color-green-500);
  --color-font-green: var(--color-green-100);
  --color-bg-cyan: var(--color-cyan-500);
  --color-font-cyan: var(--color-cyan-100);
  --color-bg-blue: var(--color-blue-500);
  --color-font-blue: var(--color-blue-100);
  --color-bg-purple: var(--color-purple-500);
  --color-font-purple: var(--color-purple-100);
  --color-bg-pink: var(--color-pink-500);
  --color-font-pink: var(--color-pink-100);

  --filter-brightness-hover: brightness(125%);
  --filter-brightness-diable: brightness(60%);
  --color-highlight: #FFFFFF20;

  /* Text */
  --font-size: 16px;
  --font-text: 'Open Sans', helvetica, arial, sans-serif;
  --font-mono: 'Fira Code', Menlo, Consolas, monospace;
  --line-height: 1.75;
  --char-width: 80ch;

  /* Margin, Padding, Gap */ 
  /* top | right | bottom | left */
  --pad: 0.9rem;
  --gap: 1.2rem;
  --margin: var(--gap) var(--gap);
  --padding: var(--pad) var(--pad);

  /*  Border, Border Radius, Outline */
  /* width | style | color */
  --border: 2px solid var(--color-border);
  --outline: 2px solid var(--color-border);
  --radius: 0.4rem;
  --radius-2: 0.8rem;
  
  /* Shadow */ 
  /* box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  /* text-shadow: offset-x | offset-y | blur-radius | color */
  --text-shadow: 1px 1px 4px var(--color-shadow);
  --shadow: 2px 2px 4px 0px var(--color-shadow);
  --shadow-2:
      2px 2px 2px 0px var(--color-shadow),
      0px 0px 10px 10px var(--color-shadow);
  --shadow-input: -2px -2px 2px 0px var(--color-shadow);

}