/* Theme */
body.test {

  /* Colors */
  --color-bg: #000;
  --color-header: #111;
  --color-text-bright: #FFF;
  --color-text: #DDD;
  --color-text-dim: #999;
  
  --color-bg-secondary: #FFF;
  --color-text-secondary: #000;

  --color-bg-primary: hsl(130, 95%, 55%);
  --color-text-primary: #000;
  
  --filter-brightness-hover: brightness(125%);
  --filter-brightness-diable: brightness(80%);
  --color-highlight: hsl(265, 40%, 60%, 15%);

  --color-border: var(--color-header);
  --color-border-bright: #555;
  --color-shadow: #00000099;

  /* Other colors */
  --color-bg-grey:     hsl( 220, 10%, 55%);
  --color-bg-red:      hsl(   5, 99%, 55%);
  --color-bg-orange:   hsl(  30, 99%, 55%);
  --color-bg-yellow:   hsl(  60, 99%, 55%);
  --color-bg-lime:     hsl(  90, 99%, 55%);
  --color-bg-green:    hsl( 130, 99%, 55%);
  --color-bg-cyan:     hsl( 180, 99%, 55%);
  --color-bg-blue:     hsl( 220, 99%, 55%);
  --color-bg-purple:   hsl( 260, 99%, 55%);
  --color-bg-pink:     hsl( 315, 99%, 55%);
  --color-text-grey:   #000;
  --color-text-red:    #000;
  --color-text-orange: #000;
  --color-text-yellow: #000;
  --color-text-lime:   #000;
  --color-text-green:  #000;
  --color-text-cyan:   #000;
  --color-text-blue:   #000;
  --color-text-purple: #000;
  --color-text-pink:   #000;

  /* Text */
  --font-text: 'Fira Code', 'Open Sans', helvetica, arial, sans-serif;
  --font-mono: 'Fira Code', Menlo, Consolas, monospace;
  --line-height: 2;
  --char-width: 80ch;

  /* Margin, Padding, Gap */ 
  /* top | right | bottom | left */
  --pad: 1rem;
  --gap: 1.2rem;
  --margin: var(--gap) var(--gap);
  --padding: var(--pad) var(--pad);

  /*  Border, Border Radius, Outline */
  /* width | style | color */
  --border: calc(1rem / 8) solid var(--color-border);
  --border: 2px solid var(--color-border);
  --outline: calc(1rem / 8) solid var(--color-border);
  --radius: 0.25rem;
  --radius-2: 0.5rem;
  
  /* Shadow */ 
  /* box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  /* text-shadow: offset-x | offset-y | blur-radius | color */
  --text-shadow: 1px 1px 4px var(--color-shadow);
  --shadow: 2px 2px 4px 0px var(--color-shadow);
  --shadow-2:
      2px 2px 2px 0px var(--color-shadow),
      0px 0px 10px 10px var(--color-shadow);
  --shadow-input: -2px -2px 2px 0px var(--color-shadow);

}