/* Theme */
body {

  /* Colors */
  --color-bg: hsl(220, 12%, 5%);
  --color-header: hsl(220, 10%, 10%);
  --color-text-bright: hsl(216, 10%, 90%);
  --color-text: hsl(220, 10%, 65%);
  --color-text-dim: hsl(220, 10%, 45%);
  
  --color-bg-secondary: hsl(220, 10%, 18%);
  --color-text-secondary: var(--color-text-bright);

  --color-bg-primary: hsl(260, 85%, 60%);
  --color-text-primary: hsl(260, 99%, 10%);

  --color-bg-primary: hsl(260, 50%, 32%);
  --color-text-primary: hsl(260, 99%, 94%);
  
  --filter-brightness-hover: brightness(125%);
  --filter-brightness-diable: brightness(80%);
  --color-highlight: hsl(220, 10%, 60%, 15%);

  --color-hover: hsl(220, 10%, 15%);
  --color-pressed: hsl(220, 10%, 10%);

  --color-border: var(--color-header);
  --color-border-bright: var(--color-bg-secondary);
  --color-shadow: #00000099;

  /* Other colors */
  --color-bg-grey:     hsl( 220, 10%, 55%);
  --color-bg-red:      hsl(   5, 85%, 60%);
  --color-bg-orange:   hsl(  30, 85%, 60%);
  --color-bg-yellow:   hsl(  60, 85%, 60%);
  --color-bg-lime:     hsl(  95, 85%, 65%);
  --color-bg-green:    hsl( 130, 85%, 60%);
  --color-bg-cyan:     hsl( 180, 80%, 65%);
  --color-bg-blue:     hsl( 220, 85%, 60%);
  --color-bg-purple:   hsl( 260, 90%, 65%);
  --color-bg-pink:     hsl( 315, 65%, 70%);
  --color-text-grey:   hsl( 220, 10%,  5%);
  --color-text-red:    hsl(   5, 99%,  5%);
  --color-text-orange: hsl(  30, 99%,  5%);
  --color-text-yellow: hsl(  60, 99%,  5%);
  --color-text-lime:   hsl(  90, 99%,  5%);
  --color-text-green:  hsl( 130, 99%,  5%);
  --color-text-cyan:   hsl( 180, 99%,  5%);
  --color-text-blue:   hsl( 220, 99%,  5%);
  --color-text-purple: hsl( 260, 99%,  5%);
  --color-text-pink:   hsl( 315, 99%,  5%);

  /* Text */
  --font-text: 'Open Sans', helvetica, arial, sans-serif;
  --font-mono: 'Fira Code', Menlo, Consolas, monospace;
  --line-height: 1.75;
  --char-width: 80ch;

  /* Margin, Padding, Gap */ 
  /* top | right | bottom | left */
  --pad: 0.9rem;
  --gap: 1.2rem;
  --margin: var(--gap) var(--gap);
  --padding: var(--pad) var(--pad);

  /*  Border, Border Radius, Outline */
  /* width | style | color */
  --border: calc(1rem / 8) solid var(--color-border);
  --outline: calc(1rem / 8) solid var(--color-border);
  --radius: 0.4rem;
  --radius-2: 0.8rem;
  
  /* Shadow */ 
  /* box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  /* text-shadow: offset-x | offset-y | blur-radius | color */
  --text-shadow: 1px 1px 4px var(--color-shadow);
  --shadow: 1px 1px 6px 0px var(--color-shadow);
  --shadow-2:
      2px 2px 2px 0px var(--color-shadow),
      0px 0px 10px 10px var(--color-shadow);
  --shadow-input: -2px -2px 2px 0px var(--color-shadow);

}