html.light {

    /* built-in theme */
    --color-scheme: light;

    /* color */
    --hue: 220;
    --sat: 10%;
    --bg-lum: 96%;
    --text-lum: 36%;
    --bg: hsl(var(--hue), var(--sat), var(--bg-lum));
    --bg-dark: hsl(from var(--bg) h s 100);
    --bg-light: hsl(from var(--bg) h s calc(l + 4));
    --text: hsl(var(--hue), var(--sat), var(--text-lum));
    --text-dark: hsl(from var(--text) h s calc(l + 18));
    --text-light: hsl(from var(--text) h s calc(l - 12));
    --input: hsl(from var(--text) h s calc(l - 8));
    --input-bg: hsl(from var(--text) h s calc(l + 58));
    --input-border: hsl(from var(--text) h s calc(l + 36));
    --border-color: hsl(from var(--bg) h s calc(l - 18));

    /* other colors */
    --red: hsl(5, 64%, 76%);
    --orange: hsl(30, 64%, 76%);
    --yellow: hsl(60, 72%, 68%);
    --green: hsl(130, 64%, 76%);
    --cyan: hsl(180, 64%, 76%);
    --blue: hsl(220, 64%, 76%);
    --purple: hsl(265, 64%, 76%);
    --pink: hsl(320, 64%, 76%);
    --hover-luminance-change: 4;
    --active-luminance-change: 2;
    --accent: var(--text);

    /* shadows */
    --shadow: 0 0.0625em 0.125em 0px hsla(220, 10%, 10%, 10%), 0 0.0625em 0.125em 0.0625em hsla(220, 10%, 10%, 2%);
    --shadow-inset: inset 0 0.0625em 0.125em 0 hsla(220, 10%, 10%, 5%), inset 0 0.0625em 0.125em -0.0625em hsla(220, 10%, 10%, 2%);

}

html.light .accent {
    color: hsl(from var(--accent) h s calc(l - 64));
    border-color: hsl(from var(--accent) h s calc(l - 12)) !important;
    background-color: hsl(from var(--accent) h s calc(l + 6));
}
html.light .accent:hover:not(:disabled) {
    color: hsl(from hsl(from var(--accent) h s calc(l - 64)) h s calc(l + var(--hover-luminance-change))) !important;
    border-color: hsl(from hsl(from var(--accent) h s calc(l - 12)) h s calc(l + var(--hover-luminance-change))) !important;
    background-color: hsl(from hsl(from var(--accent) h s calc(l + 6)) h s calc(l + var(--hover-luminance-change))) !important;
}
html.light .accent:active:not(:disabled) {
    color: hsl(from hsl(from var(--accent) h s calc(l - 64)) h s calc(l + var(--active-luminance-change))) !important;
    border-color: hsl(from hsl(from var(--accent) h s calc(l - 12)) h s calc(l + var(--active-luminance-change))) !important;
    background-color: hsl(from hsl(from var(--accent) h s calc(l + 6)) h s calc(l + var(--active-luminance-change))) !important;
}

input[type=range]::-webkit-slider-thumb {
    border-color: hsl(from var(--accent) h s calc(l - 24)) !important;
    background-color: hsl(from var(--accent) h s calc(l - 8)) !important;
}
input[type=range]::-moz-range-thumb {
    border-color: hsl(from var(--accent) h s calc(l - 24)) !important;
    background-color: hsl(from var(--accent) h s calc(l - 8)) !important;
}
@media (hover: hover) {
    input[type=range]::-webkit-slider-thumb:hover  {
        border-color: hsl(from var(--accent) h s calc(l - 24 + var(--hover-luminance-change))) !important;
        background-color: hsl(from var(--accent) h s calc(l - 8 + var(--hover-luminance-change))) !important;
    }
}
input[type=range]::-webkit-slider-thumb:active  {
    border-color: hsl(from var(--accent) h s calc(l - 24 + var(--active-luminance-change))) !important;
    background-color: hsl(from var(--accent) h s calc(l - 8 + var(--active-luminance-change))) !important;
}
