html.black {

    /* built-in theme */
    --color-scheme: dark;

    /* color */
    --hue: 220;
    --sat: 10%;
    --bg-lum: 4%;
    --text-lum: 64%;
    --bg: hsl(var(--hue), var(--sat), var(--bg-lum));
    --bg-dark: hsl(from var(--bg) h s calc(l - 4));
    --bg-light: hsl(from var(--bg) h s calc(l + 4));
    --text: hsl(var(--hue), var(--sat), var(--text-lum));
    --text-dark: hsl(from var(--text) h s calc(l - 24));
    --text-light: hsl(from var(--text) h s calc(l + 12));
    --input: hsl(from var(--text) h s calc(l + 8));
    --input-bg: hsl(from var(--text) h s calc(l - 58));
    --input-border: hsl(from var(--text) h s calc(l - 48));
    --border-color: hsl(from var(--bg) h s calc(l + 16));

    /* other colors */
    --red: hsl(5, 48%, 64%);
    --orange: hsl(30, 48%, 64%);
    --yellow: hsl(60, 48%, 64%);
    --green: hsl(130, 48%, 64%);
    --cyan: hsl(180, 48%, 64%);
    --blue: hsl(220, 48%, 64%);
    --purple: hsl(265, 48%, 64%);
    --pink: hsl(320, 48%, 64%);
    --hover-luminance-change: 4;
    --active-luminance-change: 2;
    --accent: var(--text);
}

html.black .accent {
    color: hsl(from var(--accent) h s calc(l + 18));
    border-color: hsl(from var(--accent) h s calc(l - 24)) !important;
    background-color: hsl(from var(--accent) h s calc(l - 42));
}
html.black .accent:hover:not(:disabled) {
    color: hsl(from hsl(from var(--accent) h s calc(l + 18)) h s calc(l + var(--hover-luminance-change)));
    border-color: hsl(from hsl(from var(--accent) h s calc(l - 24)) h s calc(l + var(--hover-luminance-change))) !important;
    background-color: hsl(from hsl(from var(--accent) h s calc(l - 42)) h s calc(l + var(--hover-luminance-change)));
}
html.black .accent:active:not(:disabled) {
    color: hsl(from hsl(from var(--accent) h s calc(l + 18)) h s calc(l + var(--active-luminance-change)));
    border-color: hsl(from hsl(from var(--accent) h s calc(l - 24)) h s calc(l + var(--active-luminance-change))) !important;
    background-color: hsl(from hsl(from var(--accent) h s calc(l - 42)) h s calc(l + var(--active-luminance-change)));
}
